/.phpunit.cache
/node_modules
/public/images/**
/public/images/**/**
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/public/node_modules/images/**
composer.lock
composer.lock
/public/js/app.js
/public/js/app.js.map
/public/js/app.js.LICENSE.txt