// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// noty
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";

// PrimeVue
$gutter: 1rem; //for primeflex grid system
$prefix: "p-";
$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
);

@import "./layout/styles/layout/layout.scss";

@import "primevue/resources/primevue.min.css";
@import "primeflex/primeflex.scss";

// Demos
@import "./demo/styles/flags/flags.css";
@import "./demo/styles/badges.scss";

// tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;